//- dashboard.pug
section.dashboard
  .top
    i(class="uil uil-bars sidebar-toggle")
  .dash-content
    .overview
      .title
        i(class="uil uil-tachometer-fast-alt")
        span.text Hi #{user.nombre}! Welcome to your dashboard. These are all your tasks:
      .boxes
        .box.box1
          i(class="uil uil-star")
          span.text To do
          span.number= toDoCount
        .box.box2
          i(class="uil uil-constructor")
          span.text Doing
          span.number= doingCount
        .box.box3
          i(class="uil uil-presentation-check")
          span.text Done
          span.number= doneCount
    .activity
      .title
        i(class="uil uil-clock-three")
        span.text Task's record of #{user.nombre} #{user.apellidos}
      .activity-data
        .data.names
          span.data-title Nombre
          each task in recentTasks
            span.data-list= task.descripcion
        .data.email
          span.data-title Email
          each task in recentTasks
            span.data-list= user.correo
        .data.joined
          span.data-title Fecha
          each task in recentTasks
            span.data-list #{new Date(task.fecha_finalizacion).toLocaleDateString('es-ES', { day: 'numeric', month: 'long' })}
        .data.type
          span.data-title Estatus
          each task in recentTasks
            span.data-list= task.estatus
