section.dashboard
  .top
    i.uil.uil-bars.sidebar-toggle
    .search-box
      i.uil.uil-search
      input(type="text", placeholder="Search here...")

  .app
    main.project
      .project-info
        h1 All your tasks
        if error
          p.error= error
        .project-participants
          button.project-participants__add#myBtn Add Participant

      .project-tasks
        .project-column
          .project-column-heading
            h2.project-column-heading__title To do

          .project-column-tasks(data-status="To do")
            each task in tasks
              if task.estatus === 'To do'
                .task(draggable="true")
                  .task__tags
                    span.task__tag(class="task__tag--" + task.importancia)= task.importancia
                    button.task__options
                      i.fas.fa-ellipsis-h
                    .options-menu
                      button.option-btn.edit-btn(data-task-id=task.id, data-task-description=task.descripcion, data-task-date=new Date(task.fecha_finalizacion).toISOString().split('T')[0], data-task-importance=task.importancia) Editar
                      button.option-btn.delete-btn(data-task-id=task.id) Eliminar
                  p= task.descripcion
                  .task__stats
                    span
                      time(datetime=task.fecha_finalizacion)
                        i.fas.fa-flag #{new Date(task.fecha_finalizacion).toLocaleDateString('en-US', { day: 'numeric', month: 'long' })}
                    span.task__owner
                      i.fas.fa-check(data-task-id=task.id, class=task.estatus === 'Done' ? 'checked' : '')

        .project-column
          .project-column-heading
            h2.project-column-heading__title Doing

          .project-column-tasks(data-status="Doing")
            each task in tasks
              if task.estatus === 'Doing'
                .task(draggable="true")
                  .task__tags
                    span.task__tag(class="task__tag--" + task.importancia)= task.importancia
                    button.task__options
                      i.fas.fa-ellipsis-h
                    .options-menu
                      button.option-btn.edit-btn(data-task-id=task.id, data-task-description=task.descripcion, data-task-date=new Date(task.fecha_finalizacion).toISOString().split('T')[0], data-task-importance=task.importancia) Editar
                      button.option-btn.delete-btn(data-task-id=task.id) Eliminar
                  p= task.descripcion
                  .task__stats
                    span
                      time(datetime=task.fecha_finalizacion)
                        i.fas.fa-flag #{new Date(task.fecha_finalizacion).toLocaleDateString('en-US', { day: 'numeric', month: 'long' })}
                    span.task__owner
                      i.fas.fa-check(data-task-id=task.id, class=task.estatus === 'Done' ? 'checked' : '')

        .project-column
          .project-column-heading
            h2.project-column-heading__title Done

          .project-column-tasks(data-status="Done")
            each task in tasks
              if task.estatus === 'Done'
                .task(draggable="true", class="checked")
                  .task__tags
                    span.task__tag(class="task__tag--" + task.importancia)= task.importancia
                    button.task__options
                      i.fas.fa-ellipsis-h
                    .options-menu
                      button.option-btn.edit-btn(data-task-id=task.id, data-task-description=task.descripcion, data-task-date=new Date(task.fecha_finalizacion).toISOString().split('T')[0], data-task-importance=task.importancia) Editar
                      button.option-btn.delete-btn(data-task-id=task.id) Eliminar
                  p= task.descripcion
                  .task__stats
                    span
                      time(datetime=task.fecha_finalizacion)
                        i.fas.fa-flag #{new Date(task.fecha_finalizacion).toLocaleDateString('en-US', { day: 'numeric', month: 'long' })}
                    span.task__owner
                      i.fas.fa-check(data-task-id=task.id, class=task.estatus === 'Done' ? 'checked' : '')



#myModal.modal
  .modal-content
    span.closing &times;
    p Add a task:
    form(id="task-form", action="/tasks/create-task", method="post")
      input(type="hidden", id="task-id", name="id")
      label(for="descripcion") Description:
      textarea(placeholder="Description", maxlength="100", name="descripcion" required)
      br
      label(for="fecha") Due date:
      input(type="date", id="fecha_finalizacion", name="fecha_finalizacion" required)
      br
      label(for="importancia") Select priority:
      select(name="importancia" required)
        option(value="critical") Critical
        option(value="important") Important
        option(value="optional") Optional
      br
      button(type="submit") Add Task 

#editModal.modal
  .modal-content
    span.closing &times;
    p Edit task:
    form(id="edit-task-form", method="post")
      input(type="hidden", id="edit-task-id", name="id")
      label(for="edit-descripcion") Description:
      textarea(placeholder="Description", id="edit-descripcion", maxlength="100", name="descripcion", required)
      br
      label(for="edit-fecha_finalizacion") Due date:
      input(type="date", id="edit-fecha_finalizacion", name="fecha_finalizacion", required)
      br
      label(for="edit-importancia") Select priority:
      select(id="edit-importancia", name="importancia", required)
        option(value="critical") Critical
        option(value="important") Important
        option(value="optional") Optional
      br
      button(type="submit") Update Task
